<h1 class="text-center">Usuarios</h1>
<hr />

<div class="row">
  <div class="col text-center">
    <button class="btn btn-success" [routerLink]="['/usuario/nuevo']">
      <i class="fa fa-plus fa-1x"></i>
      Añadir Usuario
    </button>
  </div>
</div>

<table
  class="table mt-4 animated fadeIn faster"
  *ngIf="!cargando && usuarios.length > 0"
>
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Estado</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ u.nombre }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.tel }}</td>
      <td>
        <label *ngIf="u.estado" class="badge rounded-pill text-bg-success"
          >Activo</label
        >
        <label *ngIf="!u.estado" class="badge rounded-pill text-bg-danger"
          >Desactivado</label
        >
      </td>
      <td>
        <button class="btn btn-info" [routerLink]="['/usuario', u.id]">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>

        <button class="btn btn-danger ms-2" (click)="eliminarUsuario(u, i)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="alert alert-info text-center mt-3 animate__animated animate__bounce"
  *ngIf="cargando"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fas fa-sync-alt fa-spin fa-2x"></i>
  </p>

  <p class="mb-0">Espere por favor...</p>
</div>

<div
  class="alert alert-warning text-center mt-3 animate__animated animate__bounce"
  *ngIf="!cargando && usuarios.length === 0"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa-solid fa-circle-exclamation fa-2x"></i>
  </p>
</div>
